# Credit Card Fraud Detection

### Purpose: 
To help credit card companies determine the authencity of transactions - legit or fraudulent

### Dataset:
Dataset has been sourced from Kaggle & named as creditcard.csv (Please zip the file before beginning the project)

### Context: 
Dataset is a highly unbalanced one with 492 fraudelent transaction out of total 284807 transactions  
* Columns are named v1,v2 and so on for confidentiality purpose 
* Variables contained in the columns are converted to numeric values using PCA transformation
* Column Class has two values 0 and 1, with 0 denoting legit transaction & 1 denoting fraudelent transaction.

### Model:
Logistic Regression model

**Step 1:**
Importing the necessary libraries

In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

**Step 2:** Importing the CSV file and storing it in a DataFrame named df

In [9]:
df = pd.read_csv('creditcard.csv')

**Step 3:** Reading the first five rows of df

In [10]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

**Step 4:** Finding details - name of all columns & data types contained in each column

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

**Step 5:** Finding the count of null values in each column

In [12]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

**Step 6:** Finding the number of rows for each value in column Class

In [14]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

**Step 7:** Dividing df into two DataFrames legit & fraud with legit containing rows with Class 0 & fraud containing rows with Class 1
***
*Data is highly unbalanced with count of values in Class 0 high compared to Class 1, hence the division*
***

In [15]:
legit = df.loc[df['Class']==0]
fraud = df.loc[df['Class']==1]

**Step 8:** Finding the descriptive statistics of legit & fraud

In [16]:
legit['Amount'].describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [17]:
fraud['Amount'].describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

**Step 9:** Finding the average of all attributes of Class 0 & Class 1

In [18]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

**Step 10**: Creating a DataFrame legit_sample by picking 492 rows in random from legit 
***
*Undersampling to balance the unbalanced/uneven dataset by decreasing the size of Class 0. 
At the end of the process, both fraud & legit transactions will be equal in count - 492.* 
***

In [19]:
legit_sample = legit.sample(n=492)
legit_sample.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
60656,49428.0,-1.839578,-0.874812,2.221363,0.122476,-1.429241,1.208118,0.693160,0.405592,0.903977,...,0.060382,0.720622,0.356800,0.292039,0.673112,0.646397,0.254960,-0.039104,320.03,0
87082,61530.0,1.429579,-0.223587,-0.044085,-0.588520,-0.730249,-1.571418,0.021904,-0.468109,-1.275239,...,0.218347,0.599124,-0.130131,0.785123,0.772736,-0.107632,-0.023822,0.006466,12.00,0
99982,67369.0,0.744724,-0.872044,-1.463608,0.483016,1.921707,3.703452,-0.082892,0.779483,0.140840,...,-0.020776,-0.622493,-0.363208,1.023651,0.794640,-0.355259,-0.025381,0.059198,276.84,0
161113,113889.0,2.059932,-0.979096,-0.831786,-0.483972,-0.885054,-0.423021,-0.753204,-0.030369,-0.297690,...,-0.324325,-0.441603,0.229321,-0.355468,-0.398920,0.558274,-0.046308,-0.061101,39.80,0
240731,150724.0,2.020195,0.150298,-1.592893,0.340455,0.426816,-0.651945,0.119673,-0.129561,0.146330,...,-0.295182,-0.756767,0.344976,0.683371,-0.296243,0.140962,-0.062934,-0.037745,1.29,0

**Step 11:** Concatenating two DataFrames - fraud & legit_sample into 1 - df1

In [20]:
df1 = pd.concat([legit_sample, fraud])
df1

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
60656,49428.0,-1.839578,-0.874812,2.221363,0.122476,-1.429241,1.208118,0.693160,0.405592,0.903977,...,0.060382,0.720622,0.356800,0.292039,0.673112,0.646397,0.254960,-0.039104,320.03,0
87082,61530.0,1.429579,-0.223587,-0.044085,-0.588520,-0.730249,-1.571418,0.021904,-0.468109,-1.275239,...,0.218347,0.599124,-0.130131,0.785123,0.772736,-0.107632,-0.023822,0.006466,12.00,0
99982,67369.0,0.744724,-0.872044,-1.463608,0.483016,1.921707,3.703452,-0.082892,0.779483,0.140840,...,-0.020776,-0.622493,-0.363208,1.023651,0.794640,-0.355259,-0.025381,0.059198,276.84,0
161113,113889.0,2.059932,-0.979096,-0.831786,-0.483972,-0.885054,-0.423021,-0.753204,-0.030369,-0.297690,...,-0.324325,-0.441603,0.229321,-0.355468,-0.398920,0.558274,-0.046308,-0.061101,39.80,0
240731,150724.0,2.020195,0.150298,-1.592893,0.340455,0.426816,-0.651945,0.119673,-0.129561,0.146330,...,-0.295182,-0.756767,0.344976,0.683371,-0.296243,0.140962,-0.062934,-0.037745,1.29,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

**Step 12:** Finding the number of rows for each value in column Class

In [21]:
df1['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

**Step 13:** Finding the average of all attributes of Class 0 & Class 1 in df1 to ensure that it's distribution is similar to df

In [22]:
df1.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93557.392276,0.000573,-0.095915,0.049710,0.044900,0.046347,-0.046679,0.050028,-0.001553,0.031035,...,0.046371,-0.029974,-0.094677,0.028576,0.002982,0.003102,0.035420,-0.019163,-0.017102,100.866707
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

**Step 14:** Splitting data into features(X) & target(Y) 
*** 
*Features are the input, the variables fed to the machine & target is the output, the variable to be predicted.*

*Column class is the label & other columns are the features.*
***

In [23]:
X = df1.drop('Class',axis=1)
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
60656,49428.0,-1.839578,-0.874812,2.221363,0.122476,-1.429241,1.208118,0.693160,0.405592,0.903977,...,-0.024332,0.060382,0.720622,0.356800,0.292039,0.673112,0.646397,0.254960,-0.039104,320.03
87082,61530.0,1.429579,-0.223587,-0.044085,-0.588520,-0.730249,-1.571418,0.021904,-0.468109,-1.275239,...,0.093735,0.218347,0.599124,-0.130131,0.785123,0.772736,-0.107632,-0.023822,0.006466,12.00
99982,67369.0,0.744724,-0.872044,-1.463608,0.483016,1.921707,3.703452,-0.082892,0.779483,0.140840,...,0.507886,-0.020776,-0.622493,-0.363208,1.023651,0.794640,-0.355259,-0.025381,0.059198,276.84
161113,113889.0,2.059932,-0.979096,-0.831786,-0.483972,-0.885054,-0.423021,-0.753204,-0.030369,-0.297690,...,-0.568486,-0.324325,-0.441603,0.229321,-0.355468,-0.398920,0.558274,-0.046308,-0.061101,39.80
240731,150724.0,2.020195,0.150298,-1.592893,0.340455,0.426816,-0.651945,0.119673,-0.129561,0.146330,...,-0.120089,-0.295182,-0.756767,0.344976,0.683371,-0.296243,0.140962,-0.062934,-0.037745,1.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [24]:
Y = df1['Class']
Y

60656     0
87082     0
99982     0
161113    0
240731    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

**Step 15:** Splitting features X & labels Y randomly into training & test 
***
*20% test - X_test, Y_test | 80% training - X_train, Y_train*

*X_train will contain features and Y_train will contain the corresponding label*

*Stratify will ensure that a similar proportion of Class is picked in both test & training*

*random_state = 2 will ensure that the same result appear always*
***

In [25]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, 
                                                    stratify= Y, random_state = 2)

**Step 16:**
Display the number of rows & columns in training & test data

In [26]:
X.shape, X_train.shape, X_test.shape

((984, 30), (787, 30), (197, 30))

In [27]:
Y.shape, Y_train.shape, Y_test.shape

((984,), (787,), (197,))

***
*Logistic regression model is selected as it is good for binary classification problems*
***

In [28]:
model = LogisticRegression()

**Step 17:** Training the model using training data

In [29]:
model.fit(X_train, Y_train)

C:\Users\Arun\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

**Step 18:** Making predictions & evaluating the model based on accuracy score
***
*X_train values will be fed to predict the values of Y_train*

*Predicted values will be compared with the original values*

In [30]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
training_data_accuracy

0.9491740787801779

**Step 19:** Finding the `accuracy of the model in a test which the model has not seen!`

In [31]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
test_data_accuracy

0.949238578680203

***
*The model can predict if the `transaction is legit or fraudelent with 95% accuracy`* 

*The accuracy score is similar in both training & test data* 

*If accuracy score in training data is very high compared to test data, the model is overfitted/overtrained*

*If accuracy score in test data is very high compared to training data, the model is underfitted/undertrained*
***